// Color Variables
$green: #e4ede0;
$green-alt: darken($green, 20);

$blue: #dfe7ed;
$blue-alt: darken($blue, 20);

$red: #eddfdf;
$red-alt: darken($red, 20);

.todo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.todo__name {
  min-width: 0;
}

.todo__message {
  font-weight: 300;
  font-size: 1.8rem;
  min-width: 0;
  overflow: auto;
}

.todo__message--done {
  text-decoration: line-through;
}

.todo__actions {
  flex-shrink: 0;
}